@import "themes/light";

/**
 * Style variables
 */
$baseFontFamily: -apple-system, BlinkMacSystemFont, 'open_sanslight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$hangupColor: #bf2117;
$hangupFontSize: 2em;

/**
 * Size variables.
 */

// Video layout.
$thumbnailToolbarHeight: 22px;
$thumbnailIndicatorBorder: 2px;
$thumbnailIndicatorSize: $thumbnailToolbarHeight;
$thumbnailVideoMargin: 2px;
$thumbnailsBorder: 2px;
$thumbnailVideoBorder: 2px;
$filmstripToggleButtonWidth: 17px;


/**
 * Color variables.
 */
$defaultColor: #F1F1F1;
$defaultGreen: #00a759;
$defaultDarkGreen:#00502b;
$defaultSideBarFontColor: $defaultGreen;
$defaultSemiDarkColor: #ACACAC;
$defaultDarkColor: rgb(1, 119, 64);
$defaultWarningColor: rgb(215, 121, 118);

/**
 * Toolbar
 */
$defaultToolbarSize: 50px;
$newToolbarBackgroundColor: $defaultGreen;
$newToolbarButtonHoverColor: rgba(255, 255, 255, 0.15);
$newToolbarButtonToggleColor: rgba(255, 255, 255, 0.2);
$AOTToolbarButtonHoverColor: rgba(14, 20, 35, 0.6);
$AOTToolbarButtonToggleColor: rgba(14, 20, 35, 1);
$newToolbarFontSize: 24px;
$newToolbarHangupFontSize: 32px;
$newToolbarSize: 40px;
$newToolbarSizeWithPadding: calc(#{$newToolbarSize} + 24px);
$toolbarTitleFontSize: 19px;
$overflowMenuBG: initial;
$overflowMenuItemHoverBG: $defaultGreen;
$overflowMenuItemHoverColor: white;
$overflowMenuItemColor: $defaultDarkGreen;

/**
 * Video layout
 */
$videoThumbnailHovered: $defaultGreen;
$videoThumbnailSelected: $defaultGreen;
$participantNameColor: #fff;
$thumbnailPictogramColor: #fff;
$dominantSpeakerBg: $defaultGreen;
$raiseHandBg: #D6D61E;
$audioLevelBg: $defaultGreen;
$connectionIndicatorBg: #00a759;
$audioLevelShadow: rgba(9, 36, 77, 0.9);
$videoStateIndicatorColor: $defaultColor;
$videoStateIndicatorBackground: $toolbarBackground;
$videoStateIndicatorSize: 40px;
$remoteVideoMenuIconMargin: initial;

/**
 * Feedback Modal
 */
$feedbackContentBg: #fff;
$feedbackInputBg: #fff;
$feedbackTextColor: #000;
$feedbackInputTextColor: #333;
$feedbackInputPlaceholderColor: #777;

/**
 * Modals
 */
$modalButtonFontSize: 14px;
$modalMockAKInputBackground: #fafbfc;
$modalMockAKInputBorder: 1px solid #f4f5f7;
$modalTextColor: #333;

/**
 * Chat
 */
$chatHeaderBackgroundColor: $defaultGreen;
$chatInputSeparatorColor: #A4B8D1;
$chatLocalMessageBackgroundColor: #cecece;
$chatRemoteMessageBackgroundColor: white;
$sidebarWidth: 375px;

 /**
 * Misc.
 */
$borderRadius: 4px;
$defaultWatermarkLink: '../images/logordv.svg';
$popoverMenuPadding: 13px;
$happySoftwareBackground: transparent;
$desktopAppDragBarHeight: 25px;

/**
 * Z-indexes. TODO: Replace this by a function.
 */
$zindex0: 0;
$zindex1: 1;
$zindex2: 2;
$zindex3: 3;
$toolbarBackgroundZ: 4;
$filmstripVideosZ: 5;
$zindex10: 10;
$reloadZ: 20;
$poweredByZ: 100;
$ringingZ: 300;
$sideToolbarContainerZ: 300;
$toolbarZ: 350;
$tooltipsZ: 401;
$dropdownMaskZ: 900;
$dropdownZ: 901;
$centeredVideoLabelZ: 1010;
$popoverZ: 1015;
$overlayZ: 1016;


/**
 * Font Colors
 */
$defaultFontColor: #777;
$defaultLightFontColor: #F1F1F1;
$defaultDarkFontColor: #000;

/**
 * Forms
 */
//inputs
$inputControlEmColor: #f29424;
//buttons
$linkFontColor: #489afe;
$linkHoverFontColor: #00a759;
$formPadding: 16px;

/**
 * Unsupported browser
 */
$primaryUnsupportedBrowserButtonBgColor: #00a759;
$unsupportedBrowserButtonBgColor: rgba(9, 30, 66, 0.04);
$unsupportedBrowserTextColor: #4a4a4a;
$unsupportedBrowserTextSmallFontSize: 17px;
$unsupportedBrowserTitleColor: #fff;
$unsupportedBrowserTitleFontSize: 24px;
$unsupportedDesktopBrowserTextColor: rgba(255, 255, 255, 0.7);
$unsupportedDesktopBrowserTextFontSize: 21px;

/**
 * The size of the default watermark.
 */
$watermarkWidth: 260px;
$watermarkHeight: 74px;

/**
 * Welcome page variables.
 */
$welcomePageDescriptionColor: #fff;
$welcomePageFontFamily: inherit;
$welcomePageHeaderBackground: linear-gradient(-90deg, $defaultGreen 0%, #10ac63 50%, $defaultGreen 100%);
$welcomePageTitleColor: #fff;

/**
 * Deep-linking page variables.
 */
$deepLinkingMobileLogoHeight: 40px;
$deepLinkingMobileHeaderBackground: #f1f2f5;
